<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>倪楷</title>
    <meta name="keywords" content="百度,地图,前端,可视化"/>
    <meta name="description" content="倪楷目前就职与百度地图开放平台，担任前端工程师职位。" />
    <!--
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    -->
    <%- css('css/index') %>
</head>
<body>

<div id="layout">
    <a href="?cn" class="top-fix" id="languageBtn">中文/English</a>

    <h1>
    Dreaming is easy.  Following through is hard.
    </h1>

    <div id="chinese" style="display:none;">
      <p class="high">您好, 倪楷是个前端工程师. 可以通过邮件联系他<b>hinikai@gmail.com</b></p>  
      <p>他现在住在北京。他学了一个园艺学位，但当他写下他的第一行代码的时候，他就认识到他以后应该要去当个程序员。</p>
      <p>他现在任职与<a href="http://developer.baidu.com/map">百度地图开放平台</a>制作一些有趣的数据可视化和地图相关的产品。 </p>
      <p>您可以关注他的<a href="https://twitter.com/kyle_nikai">twitter</a>、<a href="http://weibo.com/340144392/">微博</a>, 看他平常一些开源项目在<a href="http://github.com/hinikai">github</a>上，或者阅读他的<a href="<%- config.root %><%- config.archive_dir %>">博客</a>。</p>
    </div>

    <div id="english">
      <p class="high">Hello, Kyle is a front-end developer mainly focused on products. Contact him at <b>hinikai@gmail.com</b></p>

      <p>Now he is living in Beijing, China. He studied a horticulture degree but he realized he was gonna be a software developer when he wrote his first line of code. </p>
      <p>He is currently working for <a href="http://developer.baidu.com/map">Baidu Map Open Platform</a> creating some lovely data visualizations and maps. </p>
      <p>You can follow him on <a href="http://weibo.com/340144392/">weibo</a>, see his work on <a href="http://github.com/hinikai">github</a> and read his <a href="<%- config.root %><%- config.archive_dir %>">blog</a>.</p>

    </div>


  </div>

<script type="text/javascript">
    var en = document.getElementById('english')
    var languageBtn = document.getElementById('languageBtn')
    var cn = document.getElementById('chinese')

    function detectLanguage() {
        if(location.search.indexOf('cn') !== -1) {
          en.style.display = 'none';
          cn.style.display = 'block';
        } else {
          en.style.display = 'block';
          cn.style.display = 'none';
        }
    }
    detectLanguage();

    languageBtn.onclick = function () {
        if(location.search.indexOf('cn') !== -1) {
            this.setAttribute('href', '?en');
        } else {
            this.setAttribute('href', '?cn');
        }
        detectLanguage();
    }
</script>
<%- partial('_partial/baidu-tongji') %>
</body>
</html>
