<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>倪楷-个人博客-<%- page.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <%- css('css/blog') %>
    <%- css('css/highlight') %>
</head>
<body>

<div id="layout" class="post-detail">
<h1><%- page.title %></h1>
<%- page.content %>
</div>

<%- partial('_partial/footer') %>
<%- partial('_partial/baidu-tongji') %>
</body>
</html>
