<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>倪楷-个人博客-<%- page.title %></title>
    <%- css('css/blog') %>
</head>
<body>

<div id="layout" class="post-detail">
<h1><%- page.title %></h1>
<%- page.content %>
</div>

<%- partial('_partial/footer') %>
<%- partial('_partial/baidu-tongji') %>
</body>
</html>
